/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-11, 23:43:58
    Author     : Bujag
*/

.root{
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10;
    /*-fx-background: red;*/
    -fx-background-image: url("/images/background.jpg");
}

